<div class="row">
  <div class= "col-sm-4"> </div>
  <div class= "col-sm-4 vertically_shift_form">

    <h2 style="margin-bottom: 5%"> Registration form </h2>

    <div style="margin-bottom: 2%; color: red;"> <%= display_form_errors(@user) %> </div>

    <%= form_for(@user) do |f| %>

      <div class="form-group">
        <%= f.label :first_name, "First name:" %>
        <%= f.text_field :first_name, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :last_name, "Last name:" %>
        <%= f.text_field :last_name, class: "form-control"%>
       </div>
      <div class="form-group">
        <%= f.label :email, "Email:" %>
        <%= f.email_field :email, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birth, "Date of birth (yyyy-mm-dd):" %>
        <%= f.text_field :date_of_birth, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone_number, "Phone number:" %>
        <%= f.text_field :phone_number, class: "form-control"%>
      </div>

      <p> Address: </p>

      <div class = "user_address">
        <%= f.fields_for :address do |address_form| %>

          <div class="row form-group">
            <div class ="col-sm-2"> </div>
            <div class="col-sm-10">
              <%= address_form.label :street, "Street:" %>
              <%= address_form.text_field :street, class: "form-control"%>
            </div>
          </div>
          <div class="row form-group">
            <div class ="col-sm-2"> </div>
            <div class="col-sm-10">
              <%= address_form.label :city, "City:" %>
              <%= address_form.text_field :city, class: "form-control"%>
            </div>
          </div>
          <div class="row form-group">
            <div class ="col-sm-2"> </div>
            <div class="col-sm-10">
              <%= address_form.label :zip_code, "Zip code:" %>
              <%= address_form.text_field :zip_code, class: "form-control"%>
            </div>
          </div>
          <div class="row form-group">
            <div class ="col-sm-2"> </div>
            <div class="col-sm-10">
              <%= address_form.label :country, "Country:" %>
              <%= address_form.select :country, country_options, { include_blank: true }, class: "form-control"%>
            </div>
          </div>

        <% end %>
      </div>
      <p> <b> Company </b> </p>

      <%= f.fields_for :company do |company_form| %>

        <div class="form-group">
          <%= company_form.label :name, "Name:" %>
          <%= company_form.text_field :name, class: "form-control"%>
        </div>

        <p> Address: </p>

        <div class="company_address">
          <%= company_form.fields_for :address do |address_form| %>
            <div class="row form-group">
              <div class ="col-sm-2"> </div>
              <div class="col-sm-10">
                <%= address_form.label :street, "Street:" %>
                <%= address_form.text_field :street, class: "form-control"%>
              </div>
            </div>
            <div class="row form-group">
              <div class ="col-sm-2"> </div>
              <div class="col-sm-10">
                <%= address_form.label :city, "City:" %>
                <%= address_form.text_field :city, class: "form-control"%>
              </div>
            </div>
            <div class="row form-group">
              <div class ="col-sm-2"> </div>
              <div class="col-sm-10">
                <%= address_form.label :zip_code, "Zip code:" %>
                <%= address_form.text_field :zip_code, class: "form-control"%>
              </div>
            </div>
            <div class="row form-group">
              <div class ="col-sm-2"> </div>
              <div class="col-sm-10">
                <%= address_form.label :country, "Country:" %>
                <%= address_form.select :country, country_options, { include_blank: true }, class: "form-control"%>
              </div>
            </div>
          <% end %>
        </div>

      <% end %>

      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>

    <% end %>

  </div>
  <div class="col-sm-4"> </div>
</div>